<!-- header-->
{{> header}}

<tr>
        <td>
            <table width="100%" border="0" cellspacing="0" cellpadding="0"
                style="font-family:Arial, Helvetica, sans-serif; font-size:16px; text-align:left; padding:20px 0 0; line-height:23px; color:#666;">

                <tr>
                    <td>
                        <h1>{{first_name}}, we are glad that you are here!</h1>
                        <br />
                        <p>Questions? Visit our <a href="" target="_blank">Help Center</a> or email us at
                            <a href="mailto:example@example.com">support@example.com</a>.
                        </p>
                        
                    </td>
                </tr>

                <tr>
                    <td>
                        <p>Cheers 🎉,<br /><br />The Theoria Team</p>
                    </td>
                </tr>

            </table>
        </td>
    </tr>
</table>

        <!-- footer -->
        {{> footer}}